{
  "params": {
    "FunctionName": "sonyBravia",
    "Description": "Control your Sony Bravia TV with Alexa.",
    "Role": "<YOUR_ROLE_ARN>",
    "Timeout": 3
  },
  "options": {
    "region": "<YOUR_AWS_REGION>"
  }
}
